.git
.gitignore
README.md
Dockerfile*
.dockerignore
*.env
.env
node_modules
npm-debug.log
.vscode
.idea
*.swp
*.swo
.DS_Store
logs
*.log
coverage
build
dist
target
.gen.go
.gen.pb.go
bundles
tmp
temp
vendor/cache
coverage.out
profile.out
.yarn
.pnp.*
.pnp-loader.*
!vendor